<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nexus.infrastructure.dao.social.IInteractionReactionCountDeltaInboxDao">

    <insert id="insertIgnore" parameterType="cn.nexus.infrastructure.dao.social.po.InteractionReactionCountDeltaInboxPO">
        INSERT IGNORE INTO interaction_reaction_count_delta_inbox(event_id, target_type, target_id, reaction_type, create_time)
        VALUES(#{eventId}, #{targetType}, #{targetId}, #{reactionType}, NOW())
    </insert>

</mapper>
