<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nexus.infrastructure.dao.social.IInteractionReactionCountDao">

    <insert id="insertOrUpdate" parameterType="cn.nexus.infrastructure.dao.social.po.InteractionReactionCountPO">
        INSERT INTO interaction_reaction_count(target_type, target_id, reaction_type, count, update_time)
        VALUES (#{targetType}, #{targetId}, #{reactionType}, #{count}, NOW())
        ON DUPLICATE KEY UPDATE
            count = VALUES(count),
            update_time = VALUES(update_time)
    </insert>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT count
        FROM interaction_reaction_count
        WHERE target_type = #{targetType}
          AND target_id = #{targetId}
          AND reaction_type = #{reactionType}
    </select>

</mapper>

