<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nexus.infrastructure.dao.social.ILikeDao">

    <resultMap id="LikeMap" type="cn.nexus.infrastructure.dao.social.po.LikePO">
        <id property="userId" column="user_id"/>
        <id property="targetType" column="target_type"/>
        <id property="targetId" column="target_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectStatus" resultType="int">
        SELECT status
        FROM likes
        WHERE user_id = #{userId} AND target_type = #{targetType} AND target_id = #{targetId}
    </select>

    <select id="selectLikedTargets" resultMap="LikeMap">
        SELECT user_id, target_type, target_id, status, create_time, update_time
        FROM likes
        WHERE user_id = #{userId} AND status = 1
        <choose>
            <when test="targets != null and targets.size() > 0">
                AND (
                <foreach collection="targets" item="t" separator=" OR ">
                    (target_type = #{t.targetType} AND target_id = #{t.targetId})
                </foreach>
                )
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>

    <insert id="batchUpsert">
        INSERT INTO likes(user_id, target_type, target_id, status, create_time, update_time)
        VALUES
        <foreach collection="list" item="it" separator=",">
            (#{it.userId}, #{it.targetType}, #{it.targetId}, #{it.status}, NOW(), NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status),
        update_time = NOW()
    </insert>
</mapper>

