<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nexus.infrastructure.dao.social.IUserBaseDao">

    <select id="selectByUserIds" resultType="cn.nexus.infrastructure.dao.social.po.UserBasePO">
        SELECT user_id, username, avatar_url
        FROM user_base
        WHERE user_id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByUsernames" resultType="cn.nexus.infrastructure.dao.social.po.UserBasePO">
        SELECT user_id, username, avatar_url
        FROM user_base
        WHERE username IN
        <foreach collection="usernames" item="u" open="(" separator="," close=")">
            #{u}
        </foreach>
    </select>
</mapper>
