<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nexus.infrastructure.dao.user.IUserStatusDao">

    <select id="selectByUserId" resultType="cn.nexus.infrastructure.dao.user.po.UserStatusPO">
        SELECT user_id, status, deactivated_time, update_time
        FROM user_status
        WHERE user_id = #{userId}
    </select>

    <insert id="upsert" parameterType="cn.nexus.infrastructure.dao.user.po.UserStatusPO">
        INSERT INTO user_status(user_id, status, deactivated_time, update_time)
        VALUES(#{userId}, #{status}, #{deactivatedTime}, NOW())
        ON DUPLICATE KEY UPDATE
            status = VALUES(status),
            deactivated_time = VALUES(deactivated_time),
            update_time = NOW()
    </insert>

</mapper>

